*,
::before,
::after {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 16%;
    margin: .5px;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    border-radius: 6%;
}

h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#hSix {
    text-align: left;
    margin-top: 0px;
    padding: 2px 0px 2px 1px;
    margin-bottom: 0px;
    font-size: 8px;
}

#hSix2 {
    text-align: center;
    margin: 0px;
}

#hSix3 {
    text-align: center;
    margin-top: 4px;
    font-size: 7px;
    padding-bottom: 13px;
}

.collapse {
    visibility: hidden;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

#alkalimetals {
    background-color: darkslategray;
}

#metalloids {
    background-color: rgb(104, 75, 4);
}

#actinides {
    background-color: #EB9F20;
}

#alkalineearthmetals {
    background-color: rgb(221, 92, 141);
}

#reactivenonmetals {
    background-color: rgb(87, 137, 243);
}

#unknown-props {
    background-color: gray;
}

#transitionmetals {
    background-color: rgb(116, 68, 160);
}

#noblegases {
    background-color: rgb(109, 3, 56);
}

#posttransitionmetals {
    background-color: green;
}

#lanthanides {
    background-color: rgb(6, 117, 245);
}

